#u98
{
	background-color: #FFFFFF;
}

#u101-10
{
	color: #000000;
	-webkit-transition-delay: 0s;
	transition-duration: 0s;
	text-align: center;
	font-weight: 300;
	-webkit-transition-duration: 0s;
	background-color: transparent;
	transition-delay: 0s;
	background-image: url("../images/blank.gif");
}

#u101-10:hover
{
	transition-delay: 0s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	transition-duration: 1s;
}

#u101-10:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u101-2
{
	line-height: 29px;
	font-family: anisette-std-petite-2, sans-serif;
	font-size: 24px;
	letter-spacing: 2px;
}

#u101-4
{
	line-height: 29px;
	font-family: anisette-std-petite-2, sans-serif;
	font-size: 24px;
}

#u101-6
{
	letter-spacing: 4px;
	font-family: open-sans-condensed, sans-serif;
	padding-left: 1px;
	font-size: 14px;
}

#u101-8
{
	padding-left: 1px;
	line-height: 18px;
	font-family: open-sans-condensed, sans-serif;
	font-size: 15px;
	letter-spacing: 5px;
}

@media (min-width: 1601px)
{
	#u101-2,#u101-4
	{
		text-transform: uppercase;
	}

	#u44220-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44215-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44212-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44217-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44216-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44213
	{
		vertical-align: top;
		background: transparent url("../images/u44213.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44213:hover
	{
		background: transparent url("../images/u44213-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218
	{
		vertical-align: top;
		background: transparent url("../images/u44218.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218:hover
	{
		background: transparent url("../images/u44218-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44221-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44220-4:hover p,#u44215-4:hover p,#u44212-4:hover p,#u44217-4:hover p,#u44216-4:hover p,#u44221-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

}

@media (min-width: 1441px) and (max-width: 1600px)
{
	#u101-2,#u101-4
	{
		text-transform: uppercase;
	}

	#u44220-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44215-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44212-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44217-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44216-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44213
	{
		vertical-align: top;
		background: transparent url("../images/u44213.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44213:hover
	{
		background: transparent url("../images/u44213-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218
	{
		vertical-align: top;
		background: transparent url("../images/u44218.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218:hover
	{
		background: transparent url("../images/u44218-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44221-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44220-4:hover p,#u44215-4:hover p,#u44212-4:hover p,#u44217-4:hover p,#u44216-4:hover p,#u44221-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

}

@media (min-width: 1367px) and (max-width: 1440px)
{
	#u101-2,#u101-4
	{
		text-transform: uppercase;
	}

	#u44220-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44215-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44212-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44217-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44216-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44213
	{
		vertical-align: top;
		background: transparent url("../images/u44213.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44213:hover
	{
		background: transparent url("../images/u44213-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218
	{
		vertical-align: top;
		background: transparent url("../images/u44218.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218:hover
	{
		background: transparent url("../images/u44218-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44221-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44220-4:hover p,#u44215-4:hover p,#u44212-4:hover p,#u44217-4:hover p,#u44216-4:hover p,#u44221-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

}

@media (min-width: 1281px) and (max-width: 1366px)
{
	#u101-2,#u101-4
	{
		text-transform: uppercase;
	}

	#u44220-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44215-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44212-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44217-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44216-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44213
	{
		vertical-align: top;
		background: transparent url("../images/u44213.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44213:hover
	{
		background: transparent url("../images/u44213-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218
	{
		vertical-align: top;
		background: transparent url("../images/u44218.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218:hover
	{
		background: transparent url("../images/u44218-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44221-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44220-4:hover p,#u44215-4:hover p,#u44212-4:hover p,#u44217-4:hover p,#u44216-4:hover p,#u44221-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

}

@media (min-width: 1025px) and (max-width: 1280px)
{
	#u101-2,#u101-4
	{
		text-transform: uppercase;
	}

	#u44220-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44215-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44212-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44217-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44216-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44213
	{
		vertical-align: top;
		background: transparent url("../images/u44213.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44213:hover
	{
		background: transparent url("../images/u44213-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218
	{
		vertical-align: top;
		background: transparent url("../images/u44218.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218:hover
	{
		background: transparent url("../images/u44218-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44221-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44220-4:hover p,#u44215-4:hover p,#u44212-4:hover p,#u44217-4:hover p,#u44216-4:hover p,#u44221-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

}

@media (min-width: 901px) and (max-width: 1024px)
{
	#u101-2,#u101-4
	{
		text-transform: uppercase;
	}

	#u44220-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44215-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 14px;
		letter-spacing: 1px;
		color: #7F7F7F;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44212-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44217-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44216-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 11px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 13px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44213
	{
		vertical-align: top;
		background: transparent url("../images/u44213.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44213:hover
	{
		background: transparent url("../images/u44213-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218
	{
		vertical-align: top;
		background: transparent url("../images/u44218.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44218:hover
	{
		background: transparent url("../images/u44218-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u44221-4
	{
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44220-4:hover p,#u44215-4:hover p,#u44212-4:hover p,#u44217-4:hover p,#u44216-4:hover p,#u44221-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

}

@media (min-width: 865px) and (max-width: 900px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u45465
	{
		vertical-align: top;
		background: transparent url("../images/u45465.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45465:hover
	{
		background: transparent url("../images/u45465-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467
	{
		vertical-align: top;
		background: transparent url("../images/u45467.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467:hover
	{
		background: transparent url("../images/u45467-r.png") no-repeat 0px 0px;
		background-size: contain;
	}
}

@media (min-width: 801px) and (max-width: 864px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u45465
	{
		vertical-align: top;
		background: transparent url("../images/u45465.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45465:hover
	{
		background: transparent url("../images/u45465-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467
	{
		vertical-align: top;
		background: transparent url("../images/u45467.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467:hover
	{
		background: transparent url("../images/u45467-r.png") no-repeat 0px 0px;
		background-size: contain;
	}
}

@media (min-width: 769px) and (max-width: 800px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u45465
	{
		vertical-align: top;
		background: transparent url("../images/u45465.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45465:hover
	{
		background: transparent url("../images/u45465-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467
	{
		vertical-align: top;
		background: transparent url("../images/u45467.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467:hover
	{
		background: transparent url("../images/u45467-r.png") no-repeat 0px 0px;
		background-size: contain;
	}
}

@media (min-width: 721px) and (max-width: 768px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 2px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 2px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u45465
	{
		vertical-align: top;
		background: transparent url("../images/u45465.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45465:hover
	{
		background: transparent url("../images/u45465-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467
	{
		vertical-align: top;
		background: transparent url("../images/u45467.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467:hover
	{
		background: transparent url("../images/u45467-r.png") no-repeat 0px 0px;
		background-size: contain;
	}
}

@media (min-width: 601px) and (max-width: 720px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}

	#u45465
	{
		vertical-align: top;
		background: transparent url("../images/u45465.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45465:hover
	{
		background: transparent url("../images/u45465-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467
	{
		vertical-align: top;
		background: transparent url("../images/u45467.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u45467:hover
	{
		background: transparent url("../images/u45467-r.png") no-repeat 0px 0px;
		background-size: contain;
	}
}

@media (min-width: 481px) and (max-width: 600px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (min-width: 321px) and (max-width: 480px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 20px;
		color: #7F7F7F;
		letter-spacing: 1px;
		line-height: 24px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 15px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 18px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

@media (max-width: 320px)
{
	#u44796
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u44796:hover
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44798
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44798
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44799
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44799
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44797
	{
		background-color: #000000;
		opacity: 0.4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

	#u44796:hover #u44797
	{
		opacity: 1;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}

	#u44796.PamphletThumbSelected,#u44796.PamphletThumbSelected #u44798,#u44796.PamphletThumbSelected #u44799,#u44796.PamphletThumbSelected #u44797
	{
		opacity: 0.5;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
	}

	#u44801
	{
		border-width: 0px;
		background-color: #FFFFFF;
	}

	#u44805-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 16px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 19px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-2
	{
		padding-top: 13px;
	}

	#u44806-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 16px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 19px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44806-2
	{
		padding-top: 13px;
	}

	#u44803-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44803-2
	{
		padding-top: 13px;
	}

	#u44803-4
	{
		padding-top: 13px;
	}

	#u44803-6
	{
		padding-top: 13px;
	}

	#u44807-8
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44807-2
	{
		padding-top: 13px;
	}

	#u44807-4
	{
		padding-top: 13px;
	}

	#u44807-6
	{
		padding-top: 13px;
	}

	#u44804-4
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		text-align: center;
		font-size: 12px;
		color: #7F7F7F;
		letter-spacing: 0px;
		line-height: 14px;
		font-family: open-sans-condensed, sans-serif;
		font-weight: 300;
	}

	#u44805-4:hover p,#u44806-4:hover p,#u44803-8:hover p,#u44807-8:hover p,#u44804-4:hover p
	{
		color: #000000;
		visibility: inherit;
	}

	#u44804-2
	{
		padding-top: 13px;
	}

	#u44800,#u44791
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u46308,#u44792
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u44793
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		-ms-transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
		transform: matrix(0.7071,-0.7071,0.7071,0.7071,3,10);
	}

	#u44794
	{
		background-color: #7F7F7F;
		-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
		transform: matrix(0.7071,0.7071,-0.7071,0.7071,6,-9);
	}

	#u44793:hover,#u44794:hover
	{
		background-color: #000000;
	}

	.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
	{
		cursor: pointer;
	}
}

